@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #0B0B0B;
}

.cabeçalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
}

.cabeçalho-img {
    height: 72px;
}

.cabeçalho-menu {
    display: flex;
    gap: 32px;
}

.cabeçalho-menu-item {
    font-family: 'Poppins', sans-serif;
    color: #EDEDED;
    font-weight: 400;
    font-size: 15px;
}

.conteudo {
    border-top: 2px solid #1E1E1E;;
}

.conteudo-principal {
    display: flex;
    padding: 60px;
    justify-content: space-around;
}

.conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.conteudo-secundario-titulo {
   border-top: 2px solid #1E1E1E;
   padding-top: 20px;
}

.conteudo-rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;   
    border-top: 2px solid #1E1E1E;
}