@import url('https://fonts.googleapis.com/css2?family=Cabin&family=Poppins:wght@300&display=swap');

:root {
    --cor-primaria: #0B0B0B;
    --cor-secundaria: #EDEDED;
    --cor-terciaria: #1E1E1E;

    --fonte-primaria: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

html {
     font-family: Poppins, sans-serif;
     font-weight: 500;
}

a {
    text-decoration: none;
}

        .cabeçalho {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 30px 200px;
        }
        
                .cabeçalho-menu {
                        display: flex;
                        gap: 32px;
                        font-family: var(--fonte-primaria);
                }

                .cabeçalho-menu a {
                        color: var(--cor-secundaria);  
                }

        .conteudo {
                border-top: 2px solid var(--cor-terciaria);

        }
                .conteudo-img {
                        display: flex;
                        justify-content: center;
                        padding: 60px;
                }

                .conteudo-img img {
                        width: 100%;
                }

        .projects{
                display: flex;
                justify-content: center;
                padding-top: 40px;
                padding-bottom: 40px;
                font-size: 2.8rem;
        }

        .projects-img{
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 60px;
        } 

                .projects-img-jpg{
                        width: 100%;
                }
    
        .conteudo-rodape {
               display: flex;
               flex-direction: row;
               justify-content: center;
               padding: 40px;
               border-top: 2px solid var(--cor-terciaria);
        }

                .conteudo-rodape div nav a i {
                        font-size: 1.8rem;
                        color: var(--cor-secundaria);
                } 


/* -- Pagina "Portfolio" estilizacao -- */



/* -- Pagina "About" estilizacao -- */


